.adminCont {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  section {
    border: solid 1px $secondary-color;
    border-radius: 5px;
    width: 45%;
    background-color: white;
    box-shadow: 1px 1px 10px grey;
    .heading {
      background-color: $secondary-color;
      color: white;
      text-align: center;
      padding: 1rem;
    }
    .cont {
      padding: 1rem;
      border-bottom: solid 0.5px $secondary-color;
      display: flex;
      justify-content: space-between;
      p {
        margin: 0;
      }
      &__icon {
        display: flex;
        flex-direction: column;
      }
      &__icon--item {
        padding: 1rem;
        color: black;
        border: none;
        background-color: transparent;
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

.table {
  background-color: white;
  &__h {
    background-color: $secondary-color;
    color: white;
  }
  img {
    width: 150px;
  }
  button {
    color: black;
    border: none;
    background-color: transparent;
    &:hover {
      color: $secondary-color;
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  button {
    border: solid 1px $secondary-color;
    border-radius: 20px;
    background-color: $secondary-color;
    color: white;
  }
}
