.enquiryForm {
  display: flex;
  flex-direction: column;
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    input,
    textarea {
      border: solid 1px $secondary-color;
      border-radius: 5px;
    }
  }
  button {
    border: solid 1px $secondary-color;
    border-radius: 20px;
    background-color: $secondary-color;
    color: white;
  }
  &__error {
    color: red;
  }
}

.contactForm {
  @extend .enquiryForm;
  &__error {
    color: red;
  }
  width: 50%;
  margin: 3rem 0rem 3rem 0rem;
  @media (max-width: 768px) {
    width: 100%;
    margin: 2rem 0rem 1rem 0rem;
  }
}

.loginForm {
  @extend .enquiryForm;
  &__error {
    color: red;
  }
}

.establishmentForm {
  @extend .enquiryForm;
  width: 45%;
  &__error {
    color: red;
  }
  @media (max-width: 768px) {
    width: 100%;
    margin-top: 1rem;
  }
}

.mediaForm {
  width: 45%;
}
