.result {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  .resultImg {
    width: 45%;
    border-radius: 5px;
  }
  &__cont {
    width: 45%;
    border-right: solid $secondary-color 2px;
    padding-right: 2rem;
    p {
      margin-top: 1rem;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    button {
      border: solid $secondary-color 2px;
      border-radius: 30px;
      padding: 1rem;
      background-color: $secondary-color;
      color: white;
      font-family: $heading-font;
      font-size: 22px;
      &:hover {
        background-color: white;
        color: $secondary-color;
      }
    }
  }
  @media (max-width: 1200px) {
    flex-direction: column-reverse;
    .resultImg {
      width: 100%;
    }
    &__cont {
      border: none;
      width: 100%;
      display: flex;
      justify-content: space-between;
      div {
        width: 45%;
        margin-top: 2rem;
      }
    }
    &__btn {
      border-left: solid $secondary-color 2px;
    }
  }
  @media (max-width: 768px) {
    &__cont {
      display: block;
      div {
        width: 100%;
      }
    }
    &__btn {
      border-left: none;
      button {
        font-size: 18px;
      }
    }
  }
}
