.result {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  .resultImg {
    width: 45%;
    border-radius: 5px;
  }
  &__cont {
    width: 45%;
    border-right: solid $secondary-color 2px;
    padding-right: 2rem;
    p {
      margin-top: 1rem;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    button {
      border: solid $secondary-color 2px;
      border-radius: 30px;
      padding: 1rem;
      background-color: $secondary-color;
      color: white;
      font-family: $heading-font;
      font-size: 22px;
    }
  }
}
