@import url("https://use.typekit.net/wvq0xbu.css");

$primary-color: #fbfbfb;
$secondary-color: #00829c;
$complimentary-color: #00829c;
$heading-font: "roc-grotesk", sans-serif;
$text-font: "rustica", sans-serif;
$margin: 0 150px 0 150px;
$margin-mobile: 0 10px 0 10px;
